.image-size {
  width: 30%;
  height: auto;
}

.secondary-information {
  color: #878885;
}

.image-size {
  width: '30%';
  height: 'auto';
}

.card-size {
  width: 30%;
}

.text-medium-size {
  size: 1rem;
}

.text-small-size {
  size: 0.5rem;
}

p {
  background-color: red;
  color: black;
}
