.filter-navbar {
  display: block; }

.filters {
  display: flex;
  background-color: #afe433; }

.dropdown-filters {
  padding-bottom: 1.5rem;
  border-bottom: transparent; }

.dropdown {
  background-color: transparent;
  color: #055ab4;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 3px solid #055ab4; }

.course-filter {
  background-color: #afe433; }

.smart-filter-text {
  border: transparent; }

.smart-filter-body {
  flex-direction: column;
  display: block; }

.smart-filter-btn {
  border: none; }
