.filtered-courses-info {
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-around; }

.filtered-courses-info {
  flex-direction: column; }

.subscribe-btn {
  background-color: #afe433;
  color: #055ab4;
  font-size: 1rem; }

.cancel-btn {
  background-color: transparent;
  border: #f0a315;
  color: #055ab4;
  font-size: 1rem;
  border: 2px solid #055ab4; }

.waiting-btn {
  background-color: transparent;
  border: #055ab4;
  color: #055ab4;
  font-size: 1rem;
  border: 2px solid #f0a315; }

.clock {
  margin-right: 0.8rem; }

.smart-start-hour {
  padding-right: 0.5rem; }

.detail-course-btn {
  background-color: transparent;
  color: #055ab4;
  font-size: bold;
  width: 2rem;
  border: none; }

.course-name {
  color: #055ab4; }
