.image-size {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.align {
  text-align: right; }

.secondary-information {
  color: #878885; }

.card-image-size {
  width: 30%;
  height: auto; }

.text-medium-size {
  font-size: 1rem; }

.text-small-size {
  font-size: 0.7rem; }

.align {
  text-align: right; }

.image-width {
  width: 5%;
  height: 30%; }

.ita-component {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.title-activity-size {
  font-size: 1rem;
  color: #afe433; }

.title-waiting-size {
  font-size: 1rem;
  color: #055ab4; }

.area-activities {
  background-color: #055ab4;
  height: 30%;
  padding-top: 1.5rem; }

.area-in-waiting {
  background-color: #afe433;
  width: auto;
  height: 42%;
  padding-top: 1.5rem; }

.text-magazine {
  font-size: 1rem;
  color: #055ab4;
  float: left;
  margin: 1rem 0 1rem 0; }

.show-all-btn {
  background-color: transparent;
  color: #f0a315;
  border-color: transparent; }

.carousels {
  justify-content: center; }

.title-carousel-web {
  display: flex;
  justify-content: space-between; }

.text-show-all {
  float: right;
  margin: 1rem 0 1rem 0; }

.banner-size {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex; }

.banner-position {
  justify-content: space-around; }

.card-carousel-btn {
  background-color: #afe433;
  color: #000000;
  width: 2.5rem;
  border-radius: 100%;
  align-self: end; }

.filters {
  background-color: #afe433; }

.dropdown-filters {
  padding-bottom: 1.5rem; }

.dropdown {
  background-color: transparent;
  color: #055ab4;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: #055ab4; }

.filtered-courses-info {
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-around; }

.filtered-courses-info {
  flex-direction: column; }

.subscribe-btn {
  background-color: #afe433;
  color: #055ab4;
  font-size: 1rem; }

.cancel-btn {
  background-color: transparent;
  border: #f0a315;
  color: #055ab4;
  font-size: 1rem;
  border: 2px solid #055ab4; }

.waiting-btn {
  background-color: transparent;
  border: #055ab4;
  color: #055ab4;
  font-size: 1rem;
  border: 2px solid #f0a315; }

.clock {
  margin-right: 0.8rem; }

.smart-start-hour {
  padding-right: 0.5rem; }

.detail-course-btn {
  background-color: transparent;
  color: #055ab4;
  font-size: bold;
  width: 2rem;
  border: none; }

.course-name {
  color: #055ab4; }

.text-advertisement {
  font-size: 1rem;
  color: #055ab4;
  padding-top: 0.5rem; }

.show-all-btn {
  background-color: transparent;
  color: #f0a315;
  border-color: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem; }

.announcement-date {
  color: #878885;
  font-size: 0.7rem;
  padding-left: 0.5rem; }
