.image-size {
  width: 10%;
  height: auto;
  border-radius: 50%; }

.align {
  text-align: right; }

.secondary-information {
  color: #878885; }

.card-image-size {
  width: 30%;
  height: auto; }

.text-medium-size {
  font-size: 1rem; }

.text-small-size {
  font-size: 0.7rem; }

.align {
  text-align: right; }

.image-width {
  width: 10%;
  height: auto; }

.ita-component {
  display: flex; }

.title-activity-size {
  font-size: 1rem;
  color: #a2d32f; }

.title-waiting-size {
  font-size: 1rem;
  color: #066cda; }

.text-magazine {
  font-size: 1rem;
  color: #066cda; }

.show-all-btn {
  background-color: transparent;
  color: #f0a315;
  border-color: transparent; }

.carousels {
  justify-content: center; }

.banner-size {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex; }

.banner-position {
  justify-content: space-around; }

.card-carousel-btn {
  background-color: #a2d32f;
  color: #000000;
  width: 2.5rem;
  border-radius: 100%;
  align-self: end; }

.filters {
  background-color: #a2d32f; }

.dropdown-filters {
  padding-bottom: 1.5rem; }

.dropdown {
  background-color: transparent;
  color: #066cda;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: #066cda; }

.filtered-courses-info {
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-around; }

.subscribe-btn {
  background-color: #a2d32f;
  color: #066cda;
  font-size: 1rem; }

.cancel-btn {
  background-color: transparent;
  border: #f0a315;
  color: #066cda;
  font-size: 1rem; }

.waiting-btn {
  background-color: transparent;
  border: #066cda;
  color: #066cda;
  font-size: 1rem; }

.clock {
  margin-right: 0.8rem; }

.card-image-size {
  width: 20%;
  height: auto; }
