@import 'variables';

// .blue-point{
//     background-color: $primary-color;
//     width: 1rem;
//     border-radius: 50%;
// }

.text-magazine{
    font-size: $medium-size;
    color: $primary-color;
    float:left;
    margin: 1rem 0 1rem 0;

}
 
.show-all-btn{
    background-color: transparent;
    color: $orange-color;
    border-color: transparent;
}

.carousels{
    justify-content: center;
}

.title-carousel-web{
    display: flex;
    justify-content: space-between;
}

.text-show-all{
    float:right;
    margin: 1rem 0 1rem 0;
}