@import 'variables';

.secondary-information{
    color:$grease-color;
}

.card-image-size{
    width: 30%;
    height: auto;
}

.text-medium-size{
    font-size:$medium-size
}

.text-small-size{
    font-size:$small-size
}