@import 'variables';

.filter-navbar{
    display:block;
} 

.filters{
    display:flex;
    background-color: $secondary-color;
}

.dropdown-filters{
    padding-bottom:1.5rem;
    border-bottom:transparent;
}

.dropdown{
    background-color: transparent;
    color: $primary-color;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom:3px solid $primary-color;
}

.course-filter{
    background-color: $secondary-color;
}

.smart-filter-text{
    border:transparent;
}

.smart-filter-body{
    flex-direction: column;
    display:block;
}

.smart-filter-btn{
    border:none;
}

// .smart-filter-btn:focus {
//  outline: none;
// }