@import 'variables';

.filtered-courses-info{
    margin: 1rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-around
}

.filtered-courses-info {
    flex-direction: column
}
.subscribe-btn{
    background-color: $secondary-color;
    color: $primary-color;
    font-size:$medium-size;
}

.cancel-btn{
    background-color: transparent;
    border: $orange-color;
    color: $primary-color;
    font-size: $medium-size;
    border: 2px solid $primary-color;
}

.waiting-btn{
    background-color: transparent;
    border: $primary-color;
    color: $primary-color;
    font-size: $medium-size;
    border: 2px solid $orange-color;
}

.clock{
    margin-right:0.8rem;
}

.smart-start-hour{
    padding-right:0.5rem;
}

.detail-course-btn{
    background-color: transparent;
    color: $primary-color;
    font-size:bold;
    width:2rem;
    border:none;
}

.course-name{
    color:$primary-color;
}


// .card-image-size{
//     width: 20%;
//     height: auto;
// }