@import 'variables';

.title-activity-size{
    font-size: $medium-size;
    color:$secondary-color;
}

.title-waiting-size{
    font-size: $medium-size;
    color: $primary-color;
}

.area-activities{
    background-color: $primary-color;
    height: 30%;
    padding-top:1.5rem;

}

.area-in-waiting{
    background-color: $secondary-color;
    width: auto;
    height: 42%;
    padding-top: 1.5rem;


}
