//colors
$primary-color: #066cda;
$secondary-color: #a2d32f;
$grease-color: #878885;
$orange-color: #f0a315;
$default-color:#000000;

//text
$important-text: bold;
$medium-size: 1rem;
$small-size:0.7rem;
$flex: flex;

